<%- include("partials/header") -%>

<h1> Home </h1>
<p><%= homeContent %></p>
<br>

<% allPosts.forEach((post) => { %>
    <h2><%= post.title %></h2>
    <div class="content-div">
        <p class="content">
            <%= post.content%>
        </p>
    </div>
    <a href="/post/<%= post._id %>"><button type="button" class="btn btn-primary read-more-btn">Read More</button> </a>
    <hr>
<% }); %>

<script>
    const content = document.querySelectorAll(".content");
    content.forEach((item) => {
        if (item.textContent.length > 320) {
            item.textContent = item.textContent.slice(0, 320) + "...";
        }
    });
</script>

<%- include("partials/footer") -%>